#map { /* Specify a height for the map container */
    height: 750px;
    width: 1400px;
}

body {
    font-family: 'Roboto', sans-serif; /* Default body font */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's above other elements */
  display: none; /* Initially hidden */
}

.checkbox-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9; /* Slightly different from landtake */
    border: 1px solid #ddd; /* Slightly different from landtake */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    position: relative; /* Needed for absolute positioning of tooltip */
}

.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1000; /* Ensure tooltip appears above other elements */
    bottom: calc(100% + 5px); /* Position below the checkbox-section */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.checkbox-section:hover {
    background-color: #f5f5f5; /* Lighter color on hover */
}
.checkbox-section.unavailable:hover .tooltip {
    visibility: visible; /* Show the tooltip when checkbox-section is marked as unavailable and hovered */
}
.checkbox-section.available .tooltip {
    visibility: hidden; /* Hide the tooltip when checkbox-section is marked as available */
}
.checkbox-section:focus-within {
    border: 1px solid #007bff; /* Example of border color change */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Example of box shadow */
}

.checkbox-section label {
    margin-left: 10px; /* Space between checkbox and label */
    font-size: 14px; /* Specify the font size */
}

.landtake {
    margin-top: 10px; /* Adjusted to provide spacing between sections */
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.landtake label {
    font-size: 14px; /* Specify the font size */
    margin-right: 10px; /* Add some space between label and input */
}

.landtake #coordinates, .landtake #crs {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Add some space between input and buttons */
}

.landtake #crs {
    display: inline-block; /* Maintains the block level flow with inline behavior */
    width: auto; /* Keep the width as auto to avoid stretching */
}

.landtake button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.landtake button:hover {
    background-color: #0056b3;
}

/* Style for the button group section */
.button-group {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.button-group button {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

/* Style for enabled buttons in the button group */
.button-group button:not([disabled]) {
    background-color: #007bff;
}
.button-group button:not([disabled]):hover {
    background-color: #0056b3;
}

/* Style for disabled buttons in the button group */
.button-group button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Apply styles to the console */
.console {
    margin: 20px; /* Add margin for spacing */
}

.checkbox-section, .landtake, .console {
    margin-top: 10px; /* Adjusted to ensure equal spacing */
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-section, .landtake, .console {
    display: flex;
    align-items: center; /* Align items vertically */
}

.checkbox-section, .landtake {
    justify-content: flex-start;
}

.console {
    margin: 20px 0; /* Adjusted margin for top and bottom */
    width: 500px; /* Fixed width to match other sections */
}

/* Apply styles to the textarea */
#output {
    width: 500px; /* Set width to 500 pixels */
    height: 65px; /* Set height to 300 pixels */
    padding: 10px; /* Add some padding for better readability */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-family: Arial, sans-serif; /* Specify font family */
    font-size: 11px; /* Specify font size */
    resize: none; /* Prevent resizing */
    outline: none; /* Remove outline on focus */
}

/* Apply styles to the textarea when focused */
#output:focus {
    border-color: #007bff; /* Change border color on focus */
}

/* Main button without any default styles */
.leaflet-draw-draw-rectangle {
    background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
    background-image: none !important; /* Remove default black square icon */
    border: 1px solid #ccc;      /* Light gray border for the control button */
    width: 40px;                 /* Control button width */
    height: 40px;                /* Control button height */
    border-radius: 8px;          /* Rounded corners */
    position: relative;
    cursor: pointer;             /* Pointer cursor on hover */
}

/* Custom blue rectangle inside the control */
.leaflet-draw-draw-rectangle::before {
    content: "";                 /* No textual content */
    display: block;
    position: absolute;
    top: 7px;                    /* Center the blue rectangle vertically */
    left: 3px;                   /* Center the blue rectangle horizontally */
    width: 20px;                 /* Width of the blue rectangle */
    height: 14px;                /* Height of the blue rectangle */
    border: 2px solid rgba(0, 120, 255, 0.3); /* Transparent blue border */
    border-radius: 2px;          /* Slightly rounded corners for the rectangle */
    background-color: rgba(0, 120, 255, 0.3); /* Transparent blue fill */
}

/* Add a rotated arrow symbol to suggest the draw function */
.leaflet-draw-draw-rectangle::after {
    content: "→";                /* Arrow symbol */
    font-size: 20px;             /* Adjust the size of the arrow */
    color: #0078FF;              /* Blue color for the arrow */
    position: absolute;
    top: 45%;                    /* Position the arrow vertically */
    left: 52%;                   /* Position the arrow horizontally */
    transform: translate(-50%, -50%) rotate(30deg); /* Rotate the arrow to top-left to bottom-right */
}

/* Hover effect */
.leaflet-draw-draw-rectangle:hover {
    background-color: rgba(0, 120, 255, 0.1); /* Light blue tint */
    border-color: rgba(0, 120, 255, 0.5);     /* Light blue transparent border */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}
